/* Lezo HTML Template */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header / Style Two
5. Main Slider
6. Services Section
7. Fluid Section
8. Counter Section
9. Cases Section
10. Advisors Section
11. Clients Section
12. News Section
13. Testimonial Section
14. Graph Section
15. Subscribe Section
16. Main Footer
17. Info Section
18. About Section
19. Call To Action Section
20. What We Do Section
21. Working Section
22. Video Section
23. Projects Section
24. Page Title
25. Price Section
26. Carrers Section
27. Faq Section
28. Partners Section
29. Comming Soon Section
30. Services Single Section
31. Gallery Section
32. Gallery Grid Section
33. Gallery Fullwidth Section
34. Gallery Fullwidth Section Two
35. Gallery Single Section
36. Shop Items
37. Shop Single Section
38. Shoping Cart Section
39. Checkout Section
40. Login Section
41. Blog Section
42. Blog Left Sidebar Section
43. Blog Classic Section
44. Blog Single Section
45. Error Section
46. Contact Form
47. Map Section

**********************************************/

@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

@import url("font-awesome.css");
@import url("flaticon.css");
@import url("animate.css");
@import url("owl.css");
@import url("jquery-ui.css");
@import url("jquery.fancybox.min.css");
@import url("jquery.bootstrap-touchspin.css");
@import url("jquery.mCustomScrollbar.min.css");

/*** 

====================================================================
	Reset
====================================================================

 ***/

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}
html {
  margin-top: 0px !important;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

.homepage-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.homepage-homepage {
  width: 100%;
  height: 4848px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}

.homepage-group1321314266 {
  top: 1783px;
  left: 0px;
  width: 1920px;
  height: 339px;
  display: flex;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  align-items: flex-start;
  flex-shrink: 1;
}

.homepage-image6 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 339px;
  position: absolute;
}

.homepage-image5 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.homepage-ellipse436 {
  top: 498px;
  left: 153px;
  width: 162px;
  height: 133px;
  position: absolute;
}

.homepage-union1 {
  top: 79px;
  left: 34px;
  width: 11px;
  height: 11px;
  position: absolute;
}

.homepage-union2 {
  top: 79px;
  left: 1875px;
  width: 11px;
  height: 11px;
  position: absolute;
}

.homepage-pseudo {
  top: 87px;
  left: 0px;
  width: 1320px;
  height: 1px;
  position: absolute;
}

.homepage-list1 {
  display: flex;
  padding: 10px 13px 11px;
  z-index: 1;
  flex-grow: 1;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.07999999821186066);
  border-style: solid;
  border-width: 1px;
  border-radius: 999px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.019999999552965164);
}

.homepage-asset14x11 {
  width: 98px;
  height: 36px;
}

.homepage-frame1618871097 {
  display: flex;
  align-items: center;
}

.homepage-itemmargin1 {
  display: flex;
  padding: 0 11.830001831054688px 1px 12px;
  align-items: flex-start;
}

.homepage-text109 {
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-itemmargin2 {
  display: flex;
  padding: 0 11.55999755859375px 1px 12px;
  align-items: flex-start;
}

.homepage-text110 {
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-itemmargin3 {
  display: flex;
  padding: 0 11.879997253417969px 1px 12px;
  align-items: flex-start;
}

.homepage-text111 {
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-itemmargin4 {
  display: flex;
  padding: 0 11.310001373291016px 1px 12px;
  align-items: flex-start;
}

.homepage-text112 {
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-itemmargin5 {
  display: flex;
  padding: 0 11.44000244140625px 1px 12px;
  align-items: flex-start;
}

.homepage-text113 {
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-itemmargin6 {
  display: flex;
  padding: 0 11.44000244140625px 1px 12px;
  align-items: flex-start;
}

.homepage-text114 {
  color: rgba(0, 0, 0, 0.8999999761581421);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-frame1618871104 {
  gap: 24px;
  top: 311px;
  left: 541px;
  width: 839px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.homepage-text138 {
  color: rgba(59, 59, 59, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-frame1618871103 {
  gap: 24px;
  width: 468px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.homepage-frame95233 {
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage-framelemlist-buttonnew {
  gap: 8px;
  display: flex;
  padding: 20px 36px;
  position: relative;
  box-shadow: 0px 10px 19px 0px rgba(49, 107, 255, 0.2800000011920929);
  align-items: center;
  border-color: rgba(13, 81, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(48, 106, 255, 1);
}

.homepage-text139 {
  color: var(--dl-color-text_lightmode-neutral);
  height: auto;
  z-index: 1;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-rectangle2292 {
  top: 1px;
  left: 1px;
  width: 179px;
  height: 62px;
  z-index: 3;
  position: absolute;
  border-color: rgba(89, 135, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 9px;
}

.homepage-link-get-early-access {
  width: 222px;
  height: 64px;
  display: flex;
  padding: 14px 30px;
  overflow: hidden;
  box-shadow: 0px 0.6021869778633118px 0.6021869778633118px -1.25px rgba(0, 0, 0, 0.18000000715255737);
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(252, 252, 252, 1);
}

.homepage-text140 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-text141 {
  color: rgba(0, 0, 0, 1);
}

.homepage-item {
  width: 644px;
  height: 458px;
  display: flex;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(243, 249, 255, 1) 0%,
    rgba(196, 224, 253, 1) 100%
  );
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(211, 213, 216, 1);
  border-style: solid;
  border-width: 1.0015190839767456px;
  border-radius: 20.03038215637207px;
}

.homepage-frame956061 {
  gap: 12px;
  top: 32px;
  left: 32px;
  width: 580px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.homepage-text143 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-text144 {
  color: rgba(71, 67, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-picture-homepage-automation-finpng {
  top: 157.908203125px;
  left: 21px;
  width: 603px;
  height: 301px;
  position: absolute;
}

.homepage-frame95601 {
  gap: -97.36768341064453px;
  width: 644px;
  height: 458px;
  display: flex;
  padding: 1.0015190839767456px 1.0015190839767456px 1.0115134716033936px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(243, 249, 255, 1) 0%,
    rgba(196, 224, 253, 1) 100%
  );
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(211, 213, 216, 1);
  border-style: solid;
  border-width: 1.0015190839767456px;
  border-radius: 20.03038215637207px;
}

.homepage-homepage-automation-workflowsdesktoppng {
  top: 154px;
  left: -6.98828125px;
  width: 611px;
  height: 306px;
  position: absolute;
}

.homepage-frame956062 {
  gap: 12px;
  top: 32px;
  left: 32px;
  width: 580px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.homepage-text145 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-text146 {
  color: rgba(71, 67, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-frame95602 {
  gap: -96.97709655761719px;
  width: 419px;
  height: 440px;
  display: flex;
  padding: 1.0015190839767456px 1.0015190839767456px 1.001503825187683px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(243, 249, 255, 1) 0%,
    rgba(196, 224, 253, 1) 100%
  );
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(211, 213, 216, 1);
  border-style: solid;
  border-width: 1.0015190839767456px;
  border-radius: 20.03038215637207px;
}

.homepage-homepage-automation-a-ipowered-inboxpng {
  top: 180px;
  left: 0px;
  width: 419px;
  height: 260px;
  position: absolute;
}

.homepage-frame956063 {
  gap: 12px;
  top: 32px;
  left: 32px;
  width: 355px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.homepage-text147 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-text148 {
  color: rgba(71, 67, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-frame95603 {
  gap: -96.97709655761719px;
  width: 418px;
  height: 442px;
  display: flex;
  padding: 1.0015190839767456px 1.0015190839767456px 1.001503825187683px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(243, 249, 255, 1) 0%,
    rgba(196, 224, 253, 1) 100%
  );
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(211, 213, 216, 1);
  border-style: solid;
  border-width: 1.0015190839767456px;
  border-radius: 20.03038215637207px;
}

.homepage-homepage-automation-articlesuggestionspng {
  top: 182px;
  left: 1px;
  width: 417px;
  height: 260px;
  position: absolute;
}

.homepage-frame956064 {
  gap: 12px;
  top: 32px;
  left: 32px;
  width: 355px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.homepage-text152 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-text153 {
  color: rgba(71, 67, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-frame95604 {
  gap: -96.97709655761719px;
  width: 419px;
  height: 442px;
  display: flex;
  padding: 1.0015190839767456px 1.0015190839767456px 1.001503825187683px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(243, 249, 255, 1) 0%,
    rgba(196, 224, 253, 1) 100%
  );
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(211, 213, 216, 1);
  border-style: solid;
  border-width: 1.0015190839767456px;
  border-radius: 20.03038215637207px;
}

.homepage-homepage-automation-conversation-topicspng {
  top: 182px;
  left: 0px;
  width: 419px;
  height: 260px;
  position: absolute;
}

.homepage-frame956065 {
  gap: 12px;
  top: 32px;
  left: 32px;
  width: 355px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.homepage-text159 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-text160 {
  color: rgba(71, 67, 99, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}

.homepage-link8 {
  display: contents;
}

.homepage-container21 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}

.homepage-icon1 {
  width: 24px;
  margin-right: 4px;
}

.homepage-text236 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
   .bullet-container{
       width: 16px;
    height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
background-color: #007AFF26;    }
    .bullet{
        width: 8px;
        height: 8px;
        border-radius: 50%;
     background:  #007AFF;

    }
